Text {
    -fx-font-size: 20px;
    -fx-font-family: "Comic Sans MS"
}

Label {
    -fx-font-size:18px;
    -fx-font-weight:bold
}

Button {
    -fx-font-size:22px;
    -fx-font-weight:bold;
    -fx-pref-width: 110px
}